
#wrapper {
	width: 100%;
	margin: 0 auto;
}

.clearfix {
	clear: both;
}
@media screen and (max-width:480px) {

.block {	
	width: 90%;
}
}


@media screen and (min-width:480px) and (max-width: 800px) {
	.block {
	float: left;
	width: 49%;
	margin-right: 2%;
	}

.block:nth-child(2n) {
	margin-right: 0;
	float: left;
}
}

@media  screen and (min-width:800px) {
	.block {
	width: 24%;
	margin-right: 1.3333%;
	float: left;
}
.block:last-child {
	margin-right: 0;
}
}

.block {
	background-color: green;
	height: 300px;
	color: white;
	padding: 10px;
	box-sizing: border-box;
	margin-bottom: 10px;
	}