#d0 {
   
   border: 1px solid red;   
   width: 50%;
   height: 30px;
   margin: 0 auto;
  }

 #d1 {
 
   background: red;
   width: 0%;
   height: 30px;

   -webkit-transition: all 4s steps(5, start);
   -moz-transition: all 4s steps(5, start);
   -o-transition: all 4s steps(5, start);
   transition: all 4s steps(5, start);   
}
   
#d0:hover div {
	width: 100%; 
	}