#d1 {
 	padding: 5px 15px;
}

#d1 .d2 {
	width: 30%;
	height: 30px;
	border: 1px solid red; 
	margin-bottom: 20px;
	   
  -webkit-transition: width 1s ease-out;
   -moz-transition: width 1s ease-out;
   -o-transition: width 1s ease-out;
   transition: width 1s ease-out;
}


#d1:hover .d2:hover ~ div  {
	width: 60%;
	
	}