#wrapper{
	-webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
	hyphens: auto;

	-webkit-user-select:none;
	-moz-user-select:none;
	user-select: none;
	
	width: 70%;
	margin: 0px auto;
	padding: 10px;
	
	text-align: justify;
}








