

#col1{
	margin: 0px auto;
	width: 70%;
	padding: 10px;
	text-align: justify;	
	}

#col1 p {
	column-count: 2;
	column-gap: 100px;
	column-rule: 1px solid black;
}

#col1 h1 {
	column-span: 1;
}