
body {
	margin-top: -8px;
}

#ws1 {
	margin-bottom: 30px;
	border: 1px solid black;
	width: 400px;
	white-space: pre;
	tab-size:8;
}

#ws2 {
	margin-bottom: 30px;
	border: 1px solid black;
	width: 400px;
	white-space: pre;
	tab-size:0;
}

#ws3 {
	margin-bottom: 30px;
	border: 1px solid black;
	width: 400px;
	white-space: pre;
	tab-size:16;
}








