div {
	border: 1px solid red;
	width: 100px; 
	height: 100px; 
	margin: 50px auto 0 auto;
}
#d1:hover {
	transform: rotate(45deg);
	transform-origin: right bottom;
}

#d2:hover {
	transform: rotate(45deg);
	transform-origin: left bottom;
}

#d3:hover {
	transform: rotate(45deg);
	transform-origin: center center;
}

#d4:hover {
	transform: rotate(45deg);
	transform-origin: center bottom;
}

#d5:hover {
	transform: scale(2);
	transform-origin: right bottom ;
}

#d6:hover {
	transform: skew(45deg);
	transform-origin: right bottom; 
}