#menu4 a:link, a:visited {
	text-decoration: none;
	color: white;
	background-color: #0081E7;
		} 

#menu4 a:hover, #menu4 a.active {
	text-decoration: none;
	color: #0081E7;
	background-color: white;
}
#menu4 ul {
	list-style-type: none;
}
#menu4 li {
	margin-bottom: 5px;
	border: 1px solid blue;
	line-height: 30px;
}
#menu4 {
	font-family: Arial;
	font-size: 8pt;
	margin-left: -40px;
	width: 200px;
}
#menu4 a {
	display: block;
 	padding: 0px 5px;
 }
