#head {
	width: 400px;
	height: 400px;
	background-color: #C4CD14; 
	border-radius: 200px;
	margin: auto;

	position: relative;
	}

#eye1 {
	width: 80px;
	height: 80px;
	background-color: white; 
	border-radius: 60px;
	
	position: absolute;
	top: 70px;
	left: 80px;
	}

#eye2 {
	width: 80px;
	height: 80px;
	background-color: white; 
	border-radius: 60px;
	
	position: absolute;
	top: 70px;
	right: 80px;
	}

#nose {
	width: 70px;
	height: 70px;
	border-radius: 40px;
	background-color: white; 
		
	position: absolute;
	top: 200px;
	left: 165px;
	}

#mouth {
	width: 180px;
	height: 60px;
	border-radius: 0px 0px 800px 800px;
	background-color: white; 
		
	position: absolute;
	top: 300px;
	left: 110px;
	}