
#wrapper {
	width:900px;
	text-align: justify;
	margin:0px auto 50px auto;
	}

#div {
	border-right: 1px solid #FC9D00;
	border-bottom: 1px solid #FC9D00;
	border-left: 1px solid #FC9D00;
}

h1 {
	text-align: center;
	margin-bottom: 10px;
	color: #9B6100;

}

h2 {
	text-align: center;
	color: #9B6100;
	margin-bottom: 10px;
}

p {
	font: 17px/33px Times_new_roman;
	color:#CC8000;
	text-indent: 50px;
	padding: 0px 10px;
	margin-bottom: 5px;
}

a.linkt:link, a.linkt:visited {
		color: #CF8000;
		font-weight: bold;
		
			}

a.linkt:hover {
	color: black;
	text-decoration: none;
	font-weight: bold;
}

#footer {
	margin-top: 20px;
	font:13px Arial;
	text-align: center;
}

ul.foot {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

li.foota {
	display: inline-block;
}

#footer a:link, #footer a:visited {
	text-decoration: none;
	text-align: center;
	color: #9B6100;
	font: 13px Arial;
	font-weight: bold;
	padding: 0px 10px;
}


#menu {
	height: 50px;
	background-color: #FC9D00;
	margin-bottom: 20px;
}

ul.menu {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

li.menn {
	float: left;

} 

#menu a:link, #menu a:visited {
	text-decoration: none;
	text-align: center;
	color: #FEFFFF;
	font: 13px/50px Arial;
	font-weight: bold;
	height: 50px;
	padding: 0px 20px;
	display: block;
}

#menu a.active {
	text-decoration: none;
	text-align: center;
	color: #FC9D00;
	background-color: #FEFFFF;
	font: 13px/50px Arial;
	font-weight: bold;
	height: 50px;
	padding: 0px 20px;
	display: block;

}

#menu a:hover {
	font: 13px/50px Arial;
	font-weight: bold;
	height: 50px;
	color: #FC9D00;
	background-color: #FEFFFF;
	padding: 0px 20px;
}

body, p{
	margin: 0px;
}

