#news {
	border: 1px solid black;
	height: 354px;
	width: 658px;
	margin-bottom: 20px;
	padding: 20px;

}

#company {
	border: 1px solid black;
	height: 354px;
	width: 658px;
	margin-bottom: 20px;
	padding: 20px;
}

#interesting {
	border: 1px solid black;
	height: 408px;
	width: 658px;
	margin-bottom: 20px;
	padding: 20px;
}

#main img {
	float:left;
	margin-right: 10px;
	margin-top: 17px;
	border: 1px solid black;
}

#main a {
	text-decoration: none;
	color: blue;

}

#main a:hover {
	text-decoration: underline;
	color: blue;
}
#main .more {
	text-align: right;
	padding-right: 20px;
}

#main {
	width: 700px;
	text-align: justify;
	margin: 0px auto;
	font: 13px/27px Arial;
}

#main h2 {
	margin: 0px;
	font-family: Times_new_roman;
	font-size: 18pt;
}

#main p {
	margin: 10px 0px;
}
