h1{
	margin-top: 0;
}

#wrapper {
	margin: 0 auto;
	padding: 10px;
	text-align: justify;
	width: 70%;
}
#wrapper {
	counter-reset: list 7;
}

#wrapper p::before {
	counter-increment: list;
	content: 'Абзац № ' counter(list) '. ';
	}



