h1 {
	margin-top: 0;
}

#wrapper {
	margin: 0 auto;
	padding: 10px;
	text-align: justify;
	width: 70%;
}

#wrapper p::first-letter {
	color: red;
	font-size: 27px;
	font-style: italic;
}